<%- include("header") -%>


    <div class="firstPage">
        <div class="navBar">
            <ul>
                <li><a href="#contact">Connect</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#ourInitiative">Our Initiative</a></li> 
                <li><a href="#nextEvent">Next Event</a></li>
                <li><a href="#home">Home</a></li>    
            </ul>
        </div>

        <img class="firstPageImg" src="css/Harley2.png" alt="">
        
                <div class="textContainer">
                    <i> Eplore The World Together</i>
                    <br>
                    <a href="#ourInitiative"><span class="button">Check Out Our Organized Events</span></a>
                </div>
    </div>


    <%- include("nextEvent") -%>
    <%- include("ourInitiative") -%>
    <%- include("mobilePage") -%>
    <%- include("register") -%>
    
    

    <%- include("footer") -%>